<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisdemos.dao.studentinfodao.UserMapper">

<select id="selectList" parameterType="java.util.List" resultMap="java.util.Map">
  select name ,teacher from course where course_id in
  <foreach collection="list" open="(" close=")" item="id" separator=",">
    #{id}
  </foreach>



</select>


</mapper>